.drawer_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 456px;
    background-color: white;
    padding: 93px 96px;
    font-family: 'Mulish';
    z-index: 2;
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.search_options_bar { 
    width: 100%;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.drawer_input_background {
    flex: 1 1 33.3%;
    border: 1px solid #F2F2F2;
    padding: 12px 26px 8px;
    border-radius: 16px;
    height: 56px;
 }

 .drawer_input_background:last-child {
    padding: 3px 0px;
    display: flex;
    justify-content: center;
 }

 .drawer_text_input_label {
    display: block;
    font-weight: 900;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase;
 }
.drawer_text_input { 
    border: none;
    outline: none;
    color: #BDBDBD;
}
input[type="text"] {
    padding: 0;
    padding-top: 2px;
}
.btn { 
    cursor: pointer;
    
}
.btn_search_red { 
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 11px;
    background: #EB5757;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    font-weight: 700;
    color: #F2F2F2;
    border-color: transparent;
    padding: 13px 25px;
}

.search_options_setting_containers {
    display: flex;

 }
.location_search_results_container { 
    display: none;
}
.location_search_results_list { 
    list-style: none;
    padding-left: 27px;
    
}
.location_search_result_item {
    margin-top: 36px;
 }
 .location_search_results_list  .fa-location-dot { 
    padding-right: 10px;
 }
.guest_search_settings_container {
    padding-left: calc(33.3% + 26px);
 }
.guest_settings_block { 
    margin-top: 48px;

}
.guest_settings_title {
    font-weight: 700;
    

 }
.guest_settings_subtitle { 
    font-weight: 300;
    color: #BDBDBD
}
.quantity-part { 
    width: 83px;
    margin-top: 12px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    }

.btn-plus-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #828282;
    border-radius: 4px;
    padding: 5px;
    line-height: 1;
    font-size: 12px;
 }

.guest-qty { 
    flex: auto;
    width: 40px;
    appearance: textfield;
    border: 0px;
    background-color: transparent;
    text-align: center;
}
